.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

TuringGrid {
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

TuringGrid > TuringGridCell {
    -fx-grid-lines-visible: true;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-min-width: 55;
    -fx-min-height: 65;
    -fx-alignment: center;
}


TuringGrid > TuringGridCell.turing-grid-cell-editor-enabled {
    -fx-border-color: red;
    -fx-background-color: #dcdcdc;
}

.highlight-state {
    -fx-border-color: black red black red;
    -fx-background-color: #dcdcdc;
}

.highlight-character {
    -fx-border-color: red black red black;
    -fx-background-color: #dcdcdc;
}

.highlight-cell {
    -fx-border-color: red;
    -fx-background-color: red;
}

#turingGrid:disabled, #turingGrid *:disabled, #turingGrid > *:disabled {
    -fx-opacity: 1.0;
}

.ribbon {

}

.ribbon > Label {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-font-size: 24;
    -fx-min-width: 55;
    -fx-min-height: 65;
}